<html>
  <head>
    <link rel="stylesheet" href='/static/css/style_index.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script type = "text/javascript" src='/static/js/mqtt_client.js'></script>
    <title>MQTT</title>
  </head>
  <body>
    <h1>MQTT Messaging Protocol
      <button class = "tab" onClick = "MQTTconnect('homepage')">Homepage</button>
      <button class = "tab" onClick = "MQTTconnect('setup')">Setup</button>
      <button class = "tab" onClick = "MQTTconnect('SavedDevice')">Saved Setting</button>
    </h1>
    <div id = "dashboard" class = "dashboard">
      <div class = "message">
        <h2 class = "message_title">Received Message:</h2>
        <p id = "data" class = "message"></p>
      </div>
      <div class = "topic">
        <div class = "topic_label">
          Enter Topic:<br>
          <input class = "topic" id = "subscribe_topic"><br>
          Enter Client Name:
          <input class = "topic" id = "client_name">
          <button class = "client" onClick = "MQTTconnect('client_name_connect')">Connect</button><br>
          <label for="saveslot">Enter Save Slot:</label><br>
          <input class = "topic" type = "number" id = "saveslot" placeholder = "Leave blank if none"/>
          <button class = "client" onClick = "MQTTconnect('Saveslot')">Enter</button><br>
        </div>
      </div>
      <div class = "button_group">
        <button class = "button_left" onClick = "MQTTconnect('subscribe')">Subscribe</button>
        <button class = "button_right">Unsubscribe</button>
      </div>
    </div>
    <!--<div id = "add"><button class = "add_trigger" onClick = "addmore()">Add more</button></div>-->
  </body>
</html>
